{% extends 'base.jinja' %}

{% block title %}Editing{% endblock %}

{% block body %}
    <div class = "container">
        <div class = "row mt-3">
            <div class = "col-4">
                <img src = "{{url_for('static', filename = 'img/rest_default.png')}}" class="img-thumbnail" alt="..." style="width: 100%">
            </div>
            <div class = 'col-8'>
                <p>Name: {{res.name}}</p>
                <p>Phone: +1 {{res.phone}}</p>
                <p>Address: {{res.address}}</p>
                <p>Category: {{res.category}}</p>
                <p>Description: {{res.description}}</p>
            </div>
        </div>
    </div>
    <hr>

    <div class = "container">
        <div class = "row mt-3">
            <div class = "col-2">
                <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 nav-active">
                    <a class="navbar-brand" href="#">Menu</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link " href="#dish_">Dish</a>
                        <nav class="nav nav-pills flex-column">
                            {%for each in res.menu%}
                                {%if each.name == 'new category created' and each.isdish == True%}
                                    <a class="nav-link ms-3 my-1" href='#{{each.category}}'>{{each.category}}</a>
                                {%endif%}
                            {%endfor%}
                            <a class="nav-link ms-3 my-1" href="#other-di">other</a>
                        </nav>
                        <a class="nav-link" href="#drink_">Drink</a>
                        <nav class="nav nav-pills flex-column">
                        {%for each in res.menu%}
                            {%if each.name == 'new category created' and each.isdish == False%}
                                <a class="nav-link ms-3 my-1" href='#{{each.category}}'>{{each.category}}</a>
                            {%endif%}
                        {%endfor%}
                        <a class="nav-link ms-3 my-1" href="#other-dr">other</a>
                        </nav>
                    </nav>
                </nav>
            </div>
        
            <div class = "col-10">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_cate">Add category</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_dish">Add dish</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_drink">Add drink</button>
                    </div>
                    {%if check == True%}
                        <h4 id="dish_" class="mt-3">Dish</h4>
                    {%endif%}

                    <div class="row">
                        {% for each in res.menu%}
                            {%if each.isdish == True and each.name == 'new category created'%}
                                <h4 id="{{each.category}}">{{each.category}}</h4>
                                {%for item in res.menu%}
                                    {% if item.category == each.category and item.name != 'new category created'%}
                                        <div class = "col-3">
                                            <div class="card mx-auto mt-3" style="width: 95%">
                                                <img src = "{{url_for('static', filename = 'img/dish_default.jpg')}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{item.name}}</h5>
                                                    <p class="card-text">$ {{item.price}}</p>
                                                    <input type="hidden" id = "name" name = "name" value = "{item.id}">
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}
                                {%endfor%}
                            {%endif%}
                        {%endfor%}
                        <h4 id="other-di">other</h4>
                        {%for each in res.menu%}
                            {%if each.category == 'other' and each.isdish == True%}
                                <div class = "col-3">
                                    <div class="card mx-auto mt-3" style="width: 95%">
                                        <img src = "{{url_for('static', filename = 'img/dish_default.jpg')}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{each.name}}</h5>
                                            <p class="card-text">$ {{each.price}}</p>
                                            <input type="hidden" id = "name" name = "name" value = "{{each.id}}">
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}

                    </div>
                    
                    {%if check == True%}
                        <h4 id="drink_">Drink</h4>
                    {%endif%}
                    

                    <div class="row">
                        {% for each in res.menu%}
                            {%if each.isdish == False and each.name == 'new category created'%}
                                <h4 id="{{each.category}}">{{each.category}}</h4>
                                {%for item in res.menu%}
                                    {% if item.category == each.category and item.name != 'new category created'%}
                                        <div class = "col-3">
                                            <div class="card mx-auto mt-3" style="width: 95%">
                                                <img src = "{{url_for('static', filename = 'img/dish_default.jpg')}}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{item.name}}</h5>
                                                    <p class="card-text">$ {{item.price}}</p>
                                                    <input type="hidden" id = "name" name = "name" value = "{{item.id}}">
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}
                                {%endfor%}
                            {%endif%}
                        {%endfor%}
                        <h4 id="other-di">other</h4>
                        {%for each in res.menu%}
                            {%if each.category == 'other' and each.isdish == False%}
                                <div class = "col-3">
                                    <div class="card mx-auto mt-3" style="width: 95%">
                                        <img src = "{{url_for('static', filename = 'img/dish_default.jpg')}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{each.name}}</h5>
                                            <p class="card-text">$ {{each.price}}</p>
                                            <input type="hidden" id = "name" name = "name" value = "{{each.id}}">
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}

                </div>
            </div>
        </div>
    </div>








    <div class="modal fade" id="add_dish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form method='post'>
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add dish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3 mt-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name = 'name'>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name = "description">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name = "price">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">category</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="type" name="type">
                                <option selected value="other">other</option>
                                {%for each in res.menu%}
                                    {%if each.name == 'new category created' and each.isdish == True%}
                                        <option value="{{each.category}}">{{each.category}}</option>
                                    {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="add_di" name="add_di" value="Add">
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="add_drink" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form method='post'>
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add drink</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3 mt-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name = 'name'>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name = "description">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name = "price">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">category</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="type" name="type">
                                <option selected value="other">other</option>
                                {%for each in res.menu%}
                                    {%if each.name == 'new category created' and each.isdish == False%}
                                        <option value="{{each.category}}">{{each.category}}</option>
                                    {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" id="add_dr" name="add_dr" value="Add">
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="add_cate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form method='post'>
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add drink</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3 mt-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name = 'name'>
                        </div>
                    </div>
                    <select class="form-select" aria-label="Default select example" id="type" name="type">
                        <option selected value="none">Select type</option>
                        <option value="dish">dish</option>
                        <option value="drink">drink</option>
                    </select>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" id="add_cat" name="add_cate" value="Add">
                </div>
                </div>
            </div>
        </form>
    </div>



{% endblock %}