{% extends 'base.jinja' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class = "container">
        <div class="row">
            {% for each in user.restaurants%}
                <div class = "col-3">
                    <div class="card mx-auto mt-3" style="width: 95%">
                        <img src = "{{url_for('static', filename = 'img/rest_default.png')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{each.name}}</h5>
                            <div class="overflow-hidden mb-3" style="width:100%; height:23px">
                                <p class="card-text">{{each.description}}</p>
                            </div>
                            <input type="hidden" id = "name" name = "name" value = "each.id">
                            <a class="btn btn-outline-dark" href = "{{url_for('edit', id = each.id)}}">Edit</a>
                        </div>
                    </div>
                </div>
            {%endfor%}
            <div class = "col-3">
                <div class="card mx-auto mt-3" style="width: 95%">
                    <img src = "{{url_for('static', filename = 'img/rest_default.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">New</h5>
                        <div class="overflow-hidden mb-3" style="width:100%; height:23px">
                            <p class="card-text">New</p>
                        </div>
                        <input type="hidden" id = "name" name = "name" value = "create_new_res">
                        <a class="btn btn-outline-dark" href = "{{url_for('create_r')}}">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}