<html>
    <head>
        <title>blackjack</title>
    </head>

    <body>
        <p>Your Cards</p>
        <p>{{user}}</p>
        <form method = "post" id = "get_card" name = "get_card">
            <input type = "submit" method = "post" value = "get card">
        </form>
        <p>{{notice}}<p>
    </body>
</html>