<html>
    <head>
        <title>debug</title>
    </head>

    <body>
        <form method = "post" id = "register" name = "register">
            <input type = "text" id = "fname" name = "fname">
            <input type = "text" id = "lname" name = "lname">
            <input type = "text" id = "username" name = "username">
            <input type = "email" id = "email" name = "email">
            <input type = "password" id = "password" name = "password">
            <input type = "submit" value = "Register">
        </form>
        <p>{{user.cards}}</p>
    </body>
</html>